# Ignorar entornos virtuales
env/
venv/

# Ignorar archivos de compilación de Python
*.pyc
__pycache__/

# Ignorar archivos de configuración local
.env

# Ignorar bases de datos locales
*.sqlite3

# Ignorar archivos temporales y de sistema
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignorar archivos y carpetas de editor
.vscode/
.idea/

# Ignorar archivos de despliegue específicos de VS Code
*.code-workspace
